html, body {
    padding: 20px;
}
textarea {
    width: 100%;
}
datalist option {
    padding-left: 22px;
    background: white scroll bottom left;
}
:required {
    background-color: pink;
}
.submit {
    text-align: center;
}

.revealButton {
    width: 25px;
    margin-left: 5px;

    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 15px 15px;

    /* To i18nize: https://developer.mozilla.org/en-US/Add-ons/WebExtensions/Internationalization#Locale-dependent_CSS */
    background-image: url("Yellow_folder_icon_open.png");
}
