/* Also see codemirror.css for changes may make to padding, gutter, cursor, and default theme */

/* General display */
#toolbar {position: fixed; top: 0px; right: 0px; height: 20px; background-color:white; padding: 3px;}
#toolbar, #toolbar *, #themes1 {z-index: 999999 !important;}

.CodeMirror {width: 100%; border: 1px solid;}

/* Automatic vertical sizing with a minimum height */
.CodeMirror {
    min-height: 200px;
    height: auto;
}
.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

/* gutters: using our custom breakpoints item set on a gutterClick event */
.CodeMirror-breakpoints {width: .8em;}
.CodeMirror-breakpoint {color: #822; }

.cm-trailingspace {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAACCAYAAAB/qH1jAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUXCToH00Y1UgAAACFJREFUCNdjPMDBUc/AwNDAAAFMTAwMDA0OP34wQgX/AQBYgwYEx4f9lQAAAABJRU5ErkJggg==);
    background-position: bottom left;
    background-repeat: repeat-x;
}
.cm-tab {
     background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAMCAYAAAAkuj5RAAAAAXNSR0IArs4c6QAAAGFJREFUSMft1LsRQFAQheHPowAKoACx3IgEKtaEHujDjORSgWTH/ZOdnZOcM/sgk/kFFWY0qV8foQwS4MKBCS3qR6ixBJvElOobYAtivseIE120FaowJPN75GMu8j/LfMwNjh4HUpwg4LUAAAAASUVORK5CYII=);
     background-position: right;
     background-repeat: no-repeat;
  }

/* highlightSelectionMatches: Match highlighting (when clicking on an instance of a word, finds other instances of the word) */
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}
.CodeMirror-focused .cm-matchhighlight:not(.CodeMirror-selectedtext) { /* Don't apply background if this is the highlighted word itself */
    background-color: blue;
    color:white;
}

/* matchBrackets */
div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}

/* styleActiveLine: We can override CodeMirror's default here */
.CodeMirror-activeline-background {background: #e8f2ff;}

/* styleSelectedText: match selection (when clicking on a word, it can selectively highlight that word alone) */
.CodeMirror-selected  { background-color: blue !important; }
.CodeMirror-selectedtext { color: white !important; }

/* Code folding */
.CodeMirror-foldmarker {
    color: blue;
    text-shadow: #b9f 1px 1px 2px, #b9f -1px -1px 2px, #b9f 1px -1px 2px, #b9f -1px 1px 2px;
    font-family: arial;
    line-height: .3;
    cursor: pointer;
}
.CodeMirror-foldgutter {
    width: .7em;
}
.CodeMirror-foldgutter-open,
.CodeMirror-foldgutter-folded {
    color: #555;
    cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
    content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
    content: "\25B8";
}
